.dark {
    --color-code-inline: oklab(0% 0 0 / 0.345);
    --color-code-block:oklch(0% 0 0 / 0.33);
    --color-link: #66aaff;
    --color-blockquote:#abadc0 ;
    --padding-xs:0.1em
}

.light {
    --color-code-theme: rgba(0, 0, 0, 0.19);
    --color-code-block:#fff;
    --color-link: #0066cc;
    --color-blockquote:#161616 ;
}

.content {
    font-size: 1.1rem;
    width: 100%;
    max-width: 120ch;
    margin-left: 50%;
    transform: translateX(-50%);
    hr{
        width: 100%;
        height: 1px;
        background-color: var(--color-primary);
        margin: var(--spacing-md) 0;
    }
    h1{
        display: none;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 800;

        a {
            text-decoration: none !important;
        }
    }

    h1 {
        font-size: 3em;
        padding: var(--padding-sm) 0;
        color: var(--color-primary) !important;

        * {
            color: var(--color-primary) !important;
        }
    }

    h2 {
        font-size: 2em;
        color: var(--color-secondary) !important;
        padding: var(--padding-sm) 0;

        * {
            color: var(--color-secondary) !important;
        }
    }

    h3 {
        font-size: 1.25em;
    }

    h3,
    h4,
    h5,
    h6 {
        color: var(--color-tertiary);
        padding: var(--padding-sm) 0;

        * {
            color: var(--color-tertiary) !important;
        }
    }

    a {
        color: var(--color-link);
        text-decoration: underline;
    }

    p {
        padding: var(--padding-sm) 0;
        line-height: 1.5em;
        font-size: 1.1rem;
    }

    code {
        // display: block;
        background-color: var(--color-code-inline);
        font-family: "JetBrains Mono", monospace;
        border-radius: 6px;
        font-weight: lighter;
        padding: 0.12em;
    }

    pre {
        display: block;
        background-color: var(--color-code-block);
        font-family: monospace;
        border-radius: 6px;
        font-weight: lighter;
        margin: var(--spacing-md) 0;
        overflow-x: auto;
        height: fit-content;
        code {
            display: block;
            padding: var(--padding-lg);
            background-color: unset;
            font-family: unset;
            border-radius: unset;
            position: relative;
            overflow-x: hidden;
            width: max-content;
            .line {
                padding: 0.1em 0;
            }

            span {
                font-family: "JetBrains Mono", monospace;
            }
        }
    }

    ul,
    ol {
        padding: 0 var(--padding-lg);

        li {
            padding: var(--padding-xs) var(--padding-sm);
        }
    }

    blockquote {
        border-left: 4px solid var(--color-primary);
        margin: var(--spacing-sm) 0 var(--spacing-sm)  0;
        padding-left: var(--padding-md);
        color: var(--color-blockquote);
        font-style: italic;
        background-color: var(--color-blockquote-bg);
    }
}
