:root {
    --color-accent: #6471e3; /* Blue 800 */
    --debug-color: #f00;
    /* Common static variables */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --padding-lg: 1.5em;
    --spacing-lg: 24px;
    --padding-md: 1em;
    --spacing-md: 16px;

    --border-radius: 10px;
    --border-radius-circle: 99999px;

    /* Spacing */
    --border-radius-lg: 4em;
    --border-radius-md: 2em;
    --border-radius-sm: 0.5em;
    --box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    --padding-sm: 0.5em;
    /* Padding */
    --spacing-sm: 8px;
    --transition-speed: 250ms;
    --transition-speed-fast: 0.1s;

    --spacing-xl: 30px;

    /* Base accent color */
    --spacing-xs: 4px;
}

.dark {
    --color-overlay-container: rgba(255, 255, 255, 0.04);
    --color-on-container: rgb(255, 255, 255);
    --color-background: rgb(19 19 24);
    color-scheme: dark;
    --color-error: rgb(255 180 171);
    --color-error-container: rgb(147 0 10);
    --color-inverse-on-surface: rgb(48 48 54);
    --color-inverse-primary: rgb(85 89 146);
    --color-inverse-surface: rgb(228 225 233);
    --color-on-background: rgb(228 225 233);
    --color-on-error: rgb(105 0 5);
    --color-on-error-container: rgb(255 218 214);
    --color-on-primary: rgb(39 43 96);
    --color-on-primary-container: rgb(224 224 255);
    --color-on-primary-fixed: rgb(17 20 75);
    --color-on-secondary: rgb(46 47 66);
    --color-on-secondary-container: rgb(225 224 249);
    --color-on-secondary-fixed: rgb(25 26 44);
    --color-on-surface: rgb(228 225 233);
    --color-on-surface-variant: rgb(199 197 208);
    --color-on-tertiary: rgb(70 38 59);
    --color-on-tertiary-container: rgb(255 216 238);
    --color-outline: rgb(145 144 154);
    --color-outline-variant: rgb(70 70 79);
    --color-primary: rgb(190 194 255);
    --color-primary-container: rgb(62 66 120);
    --color-scrim: rgb(0 0 0);
    --color-secondary: rgb(197 196 221);
    --color-secondary-container: rgb(68 69 89);
    --color-shadow: rgb(0 0 0);
    --color-surface: rgb(19 19 24);
    --color-surface-bright: rgb(57 57 63);
    --color-surface-container: rgb(31 31 37);
    --color-surface-container-high: rgb(42 41 47);
    --color-surface-container-highest: rgb(52 52 58);
    --color-surface-container-low: rgb(27 27 33);
    --color-surface-container-lowest: rgb(14 14 19);
    --color-surface-dim: rgb(19 19 24);
    --color-surface-tint: rgb(190 194 255);
    --color-surface-variant: rgb(70 70 79);
    --color-tertiary: rgb(232 185 213);
    --color-tertiary-container: rgb(94 60 82);
    }

.light {
    --color-overlay-container: rgba(255, 255, 255, 0.13);
    --color-on-overlay:#000;
    --color-background: rgb(251 248 255);
    color-scheme: light;
    --color-error: rgb(186 26 26);
    --color-error-container: rgb(255 218 214);
    --color-inverse-on-surface: rgb(242 239 247);
    --color-inverse-primary: rgb(190 194 255);
    --color-inverse-surface: rgb(48 48 54);
    --color-on-background: rgb(27 27 33);
    --color-on-error: rgb(255 255 255);
    --color-on-error-container: rgb(147 0 10);
    --color-on-primary: rgb(255 255 255);
    --color-on-primary-container: rgb(62 66 120);
    --color-on-secondary: rgb(255 255 255);
    --color-on-secondary-container: rgb(68 69 89);
    --color-on-surface: rgb(27 27 33);
    --color-on-surface-variant: rgb(70 70 79);
    --color-on-tertiary: rgb(255 255 255);
    --color-on-tertiary-container: rgb(94 60 82);
    --color-outline: rgb(119 118 128);
    --color-outline-variant: rgb(199 197 208);
    --color-primary: rgb(85 89 146);
    --color-primary-container: rgb(224 224 255);
    --color-scrim: rgb(0 0 0);
    --color-secondary: rgb(92 93 114);
    --color-secondary-container: rgb(225 224 249);
    --color-shadow: rgb(0 0 0);
    --color-surface: rgb(251 248 255);
    --color-surface-bright: rgb(251 248 255);
    --color-surface-container: rgb(240 236 244);
    --color-surface-container-high: rgb(234 231 239);
    --color-surface-container-highest: rgb(228 225 233);
    --color-surface-container-low: rgb(245 242 250);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-dim: rgb(219 217 224);
    --color-surface-tint: rgb(85 89 146);
    --color-surface-variant: rgb(228 225 236);
    --color-tertiary: rgb(120 83 107);
    --color-tertiary-container: rgb(255 216 238);
    --color-tertiary-fixed: rgb(255 216 238);
    /** Examples */
}